/* 1. Specificity: 0,0,0 */
* {
    color: lightgray;
}

/* 2. Specificity: 0,0,1 */
p {
    color: red;
}

/* 3. Specificity: 0,0,2 */
body p {
    color: blue;
}

/* 4. Specificity: 0,0,1,0 */
.text {
    color: green;
}

/* 5. Specificity: 0,0,1,1 */
p.text {
    color: purple;
}

/* 6. Specificity: 0,0,2,0 */
.text.highlight {
    color: orange;
}

/* 7. Specificity: 0,0,2,1 */
p.text.highlight {
    color: pink;
}

/* 8. Specificity: 0,1,0,0 */
#demo {
    color: brown;
}

/* 9. Specificity: 0,1,0,1 */
p#demo {
    color: cyan;
}

/* 10. Specificity: 0,1,2,1 */
p#demo.text.highlight {
    color: black;
}